src/main/mule/file-process-papi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="file-process-papiFlow" doc:id="3e1adf1e-6c7b-46cd-93ab-ac3e0daa5b9f" >
		<http:listener doc:name="Listener" doc:id="42896b1c-7bac-4336-be40-8a3b70def61f" config-ref="HTTP_Listener_config" path="/process"/>
		<logger level="INFO" doc:name="Logger" doc:id="45f25df0-ea92-46e3-b65c-71afc4a6b527" message="begin"/>
		<http:request method="GET" doc:name="RequestSystemAPI" doc:id="fe9d9e68-0204-42c8-b348-ad4d36ecf686" config-ref="HTTP_Request_configuration" path="/file" responseTimeout="1200000">
			<http:headers ><![CDATA[#[output application/java
---
{
	client_secret : "80b66129455847Aaa1Cb46D3dE26d173",
	client_id : "65bdf7b84a1f406b86fbfc6e8e0f96fe"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="85cbbeb1-08c9-47ee-8517-5269d3bcc6ec" message="#[payload]"/>
		<ee:transform doc:name="transformWithoutHeader" doc:id="ecf515d6-bd00-4995-aed9-b6121bed4452">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header = false,escape =""
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="TransformWithoutHeader" doc:id="6a443ee9-4ec2-4d11-b8d0-edbc840f0630" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false,escape=""
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="transformMap" doc:id="5ebb9bb5-c178-445c-b96a-928d3df86902">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	region: payload01.column_0,
	country: payload01.column_1,
	itemType: payload01.column_2,
	salesChannel: payload01.column_3,
	orderPriority: payload01.column_4,
	orderDate: payload01.column_5 replace /-/ with "/",
	orderID: payload01.column_6,
	shipDate: payload01.column_7 replace /-/ with "/",
	unitsSold: payload01.column_8,
	unitPrice: payload01.column_9,
	unitCost: payload01.column_10,
	totalRevenue: payload01.column_11,
	totalCost: payload01.column_12,
	totalProfit: payload01.column_13
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
		<batch:job jobName="file-process-papiBatch_Job" doc:id="e281da4c-067e-4421-991c-6ebaebbf0ece" maxFailedRecords="1000">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="f6059a64-2c63-4664-b312-487afa467a62" acceptPolicy="ALL">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="048ea16f-26ea-492c-ab3d-14053d30154b" size="1000">
						<ee:transform doc:name="TransformFlatten" doc:id="c0c34b53-c508-49a6-9b53-a2fb447253a4" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload)]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<http:request method="POST" doc:name="RequestDBSystemAPI" doc:id="2ce3f10a-1b0c-47cd-a924-1dad43a64fb2" config-ref="HTTP_Request_configuration1" path="/createSales" responseTimeout="12000"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="viewOutput" doc:id="8f6079d6-0e02-4841-8f05-a033c766c817" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"payload" : payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message1" doc:id="1043e863-ae5c-4355-a29f-600714cdf820" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
